{% extends 'base.html' %}

{% block content %}


            <div class="clearfix">
            <a class="btn btn-primary float-left" href="https://www.borealisgroup.com/polyolefins/healthcare/medical-technology-equipment">The Medical link &rarr;</a>


            <div class="clearfix">
            <a class="btn btn-primary float-right" href="https://www.techwalla.com/articles/types-of-communication-technology">The Communication link &rarr;</a>


<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          


        
          {% for post in posts %}

          <div class="post-preview">
            <a href="{% url 'post_detail' pk=post.pk %}">
             
              
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              
            </a>
            
            <p class="post-meta">Posted by
              <a href="#">{{ post.author }}</a>
              on {{ post.date}}</p>
          </div>
          <hr>
          {% endfor %}
          <!-- Pager -->
          <a href="{% url 'post_new' %}" class="top-menu"><button class="btn btn-primary">Create New Post</button></a>
       

        </div>
      </div>
    </div>

    <hr> 
{% endblock %}
